@import "../fonts/fonts.css";

body{
	  font-family: 'Nunito';
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #2E2E2E;
    padding: 10px 20px;
}

.btn-primary{
	background: #B9270B;
border-radius: 30px;
border-color: #B9270B;
    padding: 10px 18px;
    min-width: 170px;
}
.btn-primary:hover{
	background: #333;
border-color: #333;
}
.carousel-caption {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    right: 0;
    text-align: left;
    max-width: 1130px;
    margin: 0 auto;
    bottom: auto;
    z-index: 3;
    padding: 0 15px;
}
.carousel-caption h5{
font-weight: 500;
font-size: 16px;
letter-spacing: 0.3em;
margin-bottom: 0px;
}
.carousel-item:after{
	content: "";
	background-color: #000;
	opacity: 0.4;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}
.carousel-caption h4{
font-weight: 900;
font-size: 70px;
line-height: 84px;
letter-spacing: 0.05em;
 font-family: 'Avenir LT Std';
 position: relative;
 text-transform: uppercase;
}
.carousel-caption h4:after{
	content: "";
	background-image: url('../images/logosmall.svg');
	position: absolute;
	left: 0;
	top:-62px;
	width: 153px;
height: 154px;
z-index: -1;
}
.carousel-caption p{
font-weight: 600;
font-size: 20px;
max-width: 540px;
margin-bottom:50px;
}
.carousel-caption a{
	min-width: 164px;
}
.footer{
	background: #1B6B89;
	 padding:  40px 0;
}
.carousel-indicators {
    right: 0;
    left: 0;
    top: 50%;
    bottom: auto;
    transform: translate(0, -50%);
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
     padding: 0 15px;
     z-index: 5;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 0;
    position: relative;
    opacity: 1;
    background-color: rgb(255 255 255 / 40%);
}
.carousel-indicators [data-bs-target].active {
	background-color: #fff;
}
.carousel-indicators [data-bs-target]:not(:last-child):after {
    content: "";
    width: 1px;
    height: 10px;
    background: #fff;
    position: absolute;
    right: 6px;
    top: 16px;
    opacity: 1;
}
.sectionmain{
    padding: 80px 0;
}
.sectionmain h5{
font-weight: 500;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.3em;
color: #B9270B;
text-transform: uppercase;
}
.sectionmain h2{
    font-family: 'Avenir LT Std';
    font-weight: 900;
    font-size: 40px;
    line-height: 38px;
    color: #000000;
    
    }
    .sectionmain ul{
        margin: 30px 0;
        list-style: none;
        padding-left: 20px;
    }
    .sectionmain ul li{
    font-weight: 500;
font-size: 17px;
line-height: 25px;
color: #000000;
margin-bottom: 10px;
position: relative;
    }
    .sectionmain ul li::after{
        content: "";
        width: 8px;
        height: 8px;
        background: #B9270B;
        position: absolute;
    left: -20px;
    border-radius: 100%;
    top: 10px;
        ;
    }
.sectionmain table{
    margin-top: 50px;
}
.sectionmain table th{
    background: #1B6B89;
    color: #fff;
    text-align:center;
}
.sectionmain table td{
    text-align:center;
}
.aboutimg img{
    border-radius: 30px;
    box-shadow: -15px 15px 0px #1b6b89;
    position: relative;
    min-width: 100%;
}
.aboutimglarge{
    position: relative;
}
.aboutimgsmall {
    position: absolute;
    bottom: -20px;
    left: -90px;
}
.aboutimglarge h2 {
    position: absolute;
    bottom: 0;
    right: 20px;
    color: rgb(255 255 255 / 38%);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    font-family: 'Nunito';
}
.aboutimg p {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}
.aboutimgsmall img{
    box-shadow: -15px 15px 0px #B9270B;
border-radius: 27px;
}
.aboutsection{
background-image: url(../images/logobg.svg);
background-position: bottom left;
background-repeat: no-repeat;
background-size: 280px;
}
.copyright{
    background: #175E79;
    font-weight: 400;
font-size: 13px;
letter-spacing: 0.05em;
padding:15px;
text-align: center;
color: #fff;
}
.footer ul{
    list-style-type: none;
    padding: 20px 0 0 0;
    text-align: center;
}
.footer ul li a{
    font-weight: 400;
font-size: 15px;
line-height: 20px;
letter-spacing: 0.05em;
color: #fff;
text-decoration: none;
padding: 10px 30px;
}
.footer ul.social li:not(:last-child){
    margin-right: 15px;
}
.footer ul.social li a{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2684A8;
}
.servicebox{
    background: #B9270B;
    padding: 50px 0 130px;
    margin-bottom: -100px;
    background-image: url(../images/servicebg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.servicebox h2{
    font-weight: 800;
font-size: 40px;
line-height: 55px;
color: #FFFFFF;
}
.btn-white {
    background: #ffffff;
    border-radius: 30px;
    border-color: #ffffff;
    padding: 10px 18px;
    min-width: 257px;
    color: #000;
}
.btn-white:hover {
    background: #000;
    border-color: #000;
    color: #fff;
}
.serviceboxs{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
    max-width: 390px;
    margin: 0 auto 30px;
}
.serviceboxs figure{
margin: 0;
}
.serviceboxs figure img{
    min-width: 100%;
}
.serviceboxs figcaption{
    padding: 10px;
}
.serviceboxs figcaption h2{
    font-weight: 700;
font-size: 26px;
margin: 0;
}
.serviceboxs figcaption ul{
    list-style: 0;
    padding: 0;
}
.contactsec{
background: #F5F5F5;
}
.contactsec .sectionmain{
    padding: 30px;
    
}
.contactright {
    max-width: 530px;
}
.contactimg img {
    object-fit: cover;
    min-width: 100%;
    height: 100%;
}
.serviceboxs figcaption ul li{ 
    display: inline-block;
    position: relative;
    padding: 0 10px 0 15px;
    font-weight: 500;
font-size: 16px;
}
.serviceboxs figcaption ul li::after{
    content: "";
    width: 8px;
    height: 8px;
    background: #B9270B;
    position: absolute;
left: 0px;
border-radius: 100%;
top: 10px;
}
.gallery{
    background-image: url(../images/gallerybg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.gallery .carousel-indicators {
    transform: none;
    flex-direction: row;
    top: auto;
    bottom: -20px;
    align-items: center;
    justify-content: center;
}
.gallery .carousel-indicators [data-bs-target].active{
    background-color: #B9270B;
    margin: 5px;
}
.gallery .carousel-indicators [data-bs-target]{
    background-color: rgb(185 40 11 / 30%);
    margin: 5px;
}
.gallery .carousel-indicators [data-bs-target]:after{
    display: none;
}
.gallery h2{
    margin-bottom: 50px;
}
.gallery img{
    margin-bottom: 20px;
    min-width: 100%;
}
.gallery .carousel-item:after{
    display: none;
}
.aboutimg {
    padding-left: 50px;
}
@media only screen and (min-width: 1200px) {

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 40px;
  
}
}

@media only screen and (max-width: 1400px) {
    .aboutimglarge h2 {
        font-size: 26px;
    }
}
@media only screen and (max-width: 1200px) {
    .aboutimgsmall {
        max-width: 108px;
    }
    }
@media only screen and (max-width: 992px) {
    .container{
        max-width: 100%;
    }
    .sectionmain {
        padding: 30px 0;
    }
    .aboutimg {
        max-width: 600px;
        margin: 20px auto;
    }    
    .contactright {
        max-width: 100%;
        margin: 0 auto;
    }
    .sectionmain h2, .servicebox h2 {
        font-size: 28px;
    }
    .aboutimg {
        padding-left: 110px;
    }
}

@media only screen and (max-width: 767px) {
.footer ul li {
    width: 100%;
}
}